*, *::after, *::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  margin-top: 25px;
}
#menu ul{
    text-align: center;
}
#menu li{
  display: inline-block;
  border: 2px solid #ddd;
  width: 100px;
  height: 150px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  cursor: pointer;
}
#menu li.red{
  background: #ff7979 ;
}
#menu li.green{
  background: #0be881 ;
}
#menu li.blue{
  background: #70a1ff ;
}
#menu li.pink{
  background: #FDA7DF ;
}
#menu li.purple{
  background: #D980FA ;
}
